.LayoutBody {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #373737;
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
}