/* Header */
.Header {
    color: #D9D9D9;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: .5rem;
}

/* Widget Box */
.widgetBox {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: top;
    background-color: #484848;
    width: 100%;
    max-width: 600px;
    height: 100%;
    border-radius: .375rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1.5rem;
    overflow-y: auto;
}

/* Styling the scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #484848;
  border-radius: .385px;
}

::-webkit-scrollbar-thumb {
  background: #646464;
  border-radius: 10px;
}